.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    grid-gap: 5px;
    grid-template-rows: 120px 40px 700px 165px;
    grid-template-columns: 250px 750px 200px;
}

.container_lageplan {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    grid-gap: 5px;
    grid-template-rows: 120px 40px 3200px 165px;
    grid-template-columns: 250px 750px 200px;
}

.container_verbindungen {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    grid-gap: 5px;
    grid-template-rows: 120px 40px 2000px 165px;
    grid-template-columns: 250px 750px 200px;
}

.startseite {
    height: 100vh;
    padding-top: 10%;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../imgs/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #a3bc0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
}

.nav_buttons {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid #a3bc0a;
}

.nav_buttons:hover {
    background-color: #a3bc0a;
    color: white;
}

.content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1693ca;
}

.sidebar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #e18700;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 10px;
    background-color: #189f7b;
}

.contact {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #a3bc0a;
}

* {
    font-family: 'Crimson Text', serif, sans-serif;
}

.hand_font {
    width: 500px;
    margin-left: 15%;
    font-size: 100px;
    text-align: center;
    font-family: 'Caveat', 'Crimson Text', serif, sans-serif;
    color: red;
}

.width50 {
    width: 60%;
    margin-bottom: 10px;
    font-size: 20px;
}

.nav_start {
    width: 96%;
    position: fixed;
    bottom: 8px;
    left: 2%;
    display: flex;
}

.kontakt_div {
    margin-top: 20px;
}

.kontakt_button {
    margin-left: 25px;
}

.centered_text_map {
    margin: auto;
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.centered_text_map_h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.centered_img_ver img {
    width: 100%;
}

.centered_img_ver {
    padding-right: 10px;
}

.width100 {
    width: 100%;
}

.form_item {
    margin-right: 40px;
    margin-left: 25px;
}


/*ResponsiveTablet*/

@media screen and (max-width: 1200px) {
    .container {
        width: 900px;
        margin: 0 auto;
        display: grid;
        padding: 20px;
        grid-gap: 5px;
        grid-template-rows: 120px 80px 700px 165px 200px;
        grid-template-columns: 600px 300px;
    }
    .container_lageplan {
        width: 900px;
        margin: 0 auto;
        display: grid;
        padding: 20px;
        grid-gap: 5px;
        grid-template-rows: 120px 80px 2950px 165px 200px;
        grid-template-columns: 600px 300px;
    }
    .container_verbindungen {
        width: 900px;
        margin: 0 auto;
        display: grid;
        padding: 20px;
        grid-gap: 5px;
        grid-template-rows: 120px 80px 1800px 165px 200px;
        grid-template-columns: 600px 300px;
    }
    .startseite {
        background-image: url('../imgs/background1200.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #a3bc0a;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-wrap: wrap;
    }
    .nav_buttons {
        height: 40px;
        width: 50%;
        background-color: white;
        color: black;
        border: 2px solid #a3bc0a;
    }
    .nav_buttons:hover {
        background-color: #a3bc0a;
        color: white;
    }
    .content {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #1693ca;
    }
    .sidebar {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #e18700;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        padding-left: 10px;
        background-color: #189f7b;
    }
    .contact {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #a3bc0a;
    }
    .form_container {
        display: flex;
    }
    .form_item {
        margin-right: 100px;
        margin-left: 25px;
    }
    .hand_font {
        width: 400px;
        margin-left: 5%;
        font-size: 50px;
        text-align: center;
        font-family: 'Caveat', 'Crimson Text', serif, sans-serif;
        color: red;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 100vh;
    }
    .container {
        width: 100vh;
        margin: 0 auto;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 120px 160px 700px 360px 200px 200px;
        grid-template-columns: 500px;
    }
    .container_lageplan {
        width: 100vh;
        margin: 0 auto;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 120px 160px 1800px 360px 200px 200px;
        grid-template-columns: 500px;
    }
    .container_verbindungen {
        width: 100vh;
        margin: 0 auto;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 120px 160px 1300px 360px 200px 200px;
        grid-template-columns: 500px;
    }
    .startseite {
        background-image: url('../imgs/background480.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #a3bc0a;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-wrap: wrap;
    }
    .nav_buttons {
        height: 40px;
        width: 500px;
        background-color: white;
        color: black;
        border: 2px solid #a3bc0a;
    }
    .nav_buttons:hover {
        background-color: #a3bc0a;
        color: white;
    }
    .content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #1693ca;
    }
    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #e18700;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        padding-left: 10px;
        background-color: #189f7b;
    }
    .contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #a3bc0a;
    }
    .form_container {
        display: flex;
        flex-wrap: wrap;
    }
    .form_item {
        margin-right: 40px;
        margin-left: 25px;
        max-width: 350px;
    }
}


/*ResponsivePhone*/

@media screen and (max-width: 480px) {
    body {
        width: 380px;
    }
    .container {
        width: 350px;
        margin: 0 35px;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 120px 160px 700px 360px 200px 200px;
        grid-template-columns: 350px;
    }
    .container_lageplan {
        padding: 0;
        width: 350px;
        margin: 0 35px;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 120px 160px 1450px 360px 200px 200px;
        grid-template-columns: 350px;
    }
    .container_verbindungen {
        width: 10vh;
        margin: 0 35px;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 120px 160px 1200px 360px 200px 200px;
        grid-template-columns: 350px;
    }
    .startseite {
        background-image: url('../imgs/background480.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #a3bc0a;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-wrap: wrap;
    }
    .nav_buttons {
        height: 40px;
        width: 480px;
        background-color: white;
        color: black;
        border: 2px solid #a3bc0a;
    }
    .nav_buttons:hover {
        background-color: #a3bc0a;
        color: white;
    }
    .content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #1693ca;
    }
    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #e18700;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        padding-left: 10px;
        background-color: #189f7b;
    }
    .contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #a3bc0a;
    }
    .form_container {
        display: flex;
        flex-wrap: wrap;
    }
    .form_item {
        margin-right: 40px;
        margin-left: 25px;
        max-width: 350px;
    }
}